.card {
    -webkit-perspective: 150rem;
    perspective: 150rem;
    position: relative;
    height: 52rem;
    &__side {
        height: 52rem;
        -webkit-transition: all .8s ease;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 3px;
        -webkit-box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
        &--front {
            background-color: $color-white;
        }
        &--back {
            background-color: green;
            -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
            &-1 {
                background-image: -webkit-gradient(linear, left top, right bottom, from($color-secondary-light), to($color-secondary-dark));
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }
            &-2 {
                background-image: -webkit-gradient(linear, left top, right bottom, from($color-primary-light), to($color-primary-dark));
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }
            &-3 {
                background-image: -webkit-gradient(linear, left top, right bottom, from($color-tertiory-light), to($color-tertiory-dark));
                background-image: linear-gradient(to right bottom, $color-tertiory-light, $color-tertiory-dark);
            }
        }
    }
    &:hover &__side--front {
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }
    &:hover &__side--back {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }
    &__picture {
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        &--1 {
            background-image: -webkit-gradient(linear, left top, right bottom, from($color-secondary-light), to($color-secondary-dark)), url("../img/nat-5.jpg");
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url("../img/nat-5.jpg");
        }
        &--2 {
            background-image: -webkit-gradient(linear, left top, right bottom, from($color-primary-light), to($color-primary-dark)), url("../img/nat-5.jpg");
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), url("../img/nat-6.jpg");
        }
        &--3 {
            background-image: -webkit-gradient(linear, left top, right bottom, from($color-tertiory-light), to($color-tertiory-dark)), url("../img/nat-5.jpg");
            background-image: linear-gradient(to right bottom, $color-tertiory-light, $color-tertiory-dark), url("../img/nat-7.jpg");
        }
    }
    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        color: $color-white;
        position: absolute;
        top: 12rem;
        right: 2rem;
        text-align: right;
        width: 75%;
    }
    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        &--1 {
            background-image: -webkit-gradient(linear, left top, right bottom, from(rgba($color-secondary-light, 0.85)), to(rgba($color-secondary-dark, .85)));
            background-image: linear-gradient(to right bottom, rgba($color-secondary-light, 0.85), rgba($color-secondary-dark, .85));
        }
        &--2 {
            background-image: -webkit-gradient(linear, left top, right bottom, from(rgba($color-primary-light, 0.85)), to(rgba($color-primary-dark, .85)));
            background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.85), rgba($color-primary-dark, .85));
        }
        &--3 {
            background-image: -webkit-gradient(linear, left top, right bottom, from(rgba($color-tertiory-light, 0.85)), to(rgba($color-tertiory-dark, .85)));
            background-image: linear-gradient(to right bottom, rgba($color-tertiory-light, 0.85), rgba($color-tertiory-dark, .85));
        }
    }
    &__details {
        padding: 3rem;
        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;
            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;
                &:not(:last-child) {
                    border-bottom: 1px solid #eee;
                }
            }
        }
    }
    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center
    }
    &__price-box {
        text-align: center;
        margin-bottom: 8rem;
        color: $color-white;
    }
    &__price-only {
        font-size: 1.4rem;
        text-transform: uppercase;
    }
    &__price-value {
        font-size: 6rem;
        font-weight: 100;
    }
    @include respond (tab-port) {
        height: auto;
        &__side {
            height: auto;
            position: relative;
            border-radius: 3px;
            &--front {
                background-color: $color-white;
            }
            &--back {
                -webkit-transform: rotateY(0);
                transform: rotateY(0);
                clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
            }
        }
        &:hover &__side--front {
            -webkit-transform: rotateY(-0);
            transform: rotateY(-0);
        }
        &__cta {
            position: relative;
            top: 0%;
            left: 0%;
            transform: translate0);
            width: 100%;
            padding: 4rem;
        }
        &__price-box {
            margin-bottom: 3rem;
        }
        &__price-value {
            font-size: 6rem;
        }
    }
}